<template>
  <div>
    Id :
    <input type="text" name="userId" v-model="userId">
    <br>Password :
    <input type="password" name="userPwd" v-model="userPwd">
    <br>
    <b-button @click="LoginAction">Login</b-button>
    <b-button @click="ChangePage">Menu</b-button>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      userId: "",
      userPwd: ""
    };
  },
  methods: {
    LoginAction() {
      this.$store.dispatch("common/GET_AUTHTOKEN", {
        userId: this.userId,
        userPwd: this.userPwd
      });
      this.$router.push({ name: "menu" });
      // var getCookie = function(name) {
      //   var value = document.cookie.match(
      //     "(^|;) ?" + name + "=([^;]*)(;|$)"
      //   );
      //   return value ? value[2] : null;
      // };
      // var value = getCookie("Authorization");
      // console.log(value);
      // var expire = new Date();
      // expire.setDate(expire.getDate() + 3);
      // this.$axios.defaults.headers.common["Authorization"] = "Bearer " + value;
      // var myRequest = new Request('flowers.jpg');
      // var myCred = myRequest.credentials; // returns "same-origin" by default
      // console.log(myRequest);
      // console.log(myCred);
      // this.$router.push({ name: "menu" });

      // 클라이언트에서 httpOnly 쿠키 설정해보자 안되네
      // var expire = new Date();
      // expire.setDate(expire.getDate() + 3);
      // document.cookie =
      //   "test=" + "tamama;expires=" + expire + ";httponly";
      // console.log(test);
    },
    ChangePage() {
      this.$router.push({ name: "menu" });
    }
  }
};
</script>