<template>
  <div>
    <b-button @click="CustomerList">고객 조회</b-button>
    <b-button>메뉴 1</b-button>
    <b-button>메뉴 2</b-button>
    <b-button>메뉴 3</b-button>
  </div>
</template>

<script>
export default {
  name: "menu",
  data() {
    return {};
  },
  created() {
    var getCookie = function(name) {
      var value = document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      return value ? value[2] : null;
    };

    var value = getCookie("Authorization");

    console.log(value);
  },
  methods: {
    CustomerList() {
      // var getCookie = function(name) {
      //   var value = document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      //   return value ? value[2] : null;
      // };

      // var value = getCookie("Authorization");

      // this.$axios.defaults.headers.common["Authorization"] = "Bearer " + value;
      this.$axios
        .get("https://localhost:44365/api/v1/Users/CheckCustomerList")
        .then(response => {})
        .catch(response => { alert("권한 없음"); });
    }
  }
};
</script>