<style scoped>
td {
    vertical-align: middle;
}

th:nth-child(1) {
    width: 20%
}

th:nth-child(2) {
    width: 20%
}

th:nth-child(3) {
    width: 25%
}

th:nth-child(4) {
    width: 20%
}

th:nth-child(5) {
    width: 15%
}
</style>
<template>
<div>
    <br>
    <h5>
        &nbsp;&nbsp;&nbsp;{{ custInfo.customer.custName }} : {{ custInfo.customer.hp }} // 총 {{ custInfo.count }}건 ({{ custInfo.sum }}원)
        <router-link :to="{ name: 'payment', params: { id: $route.params.id }}">
            &nbsp; &nbsp; <b-button>Add Sales</b-button>
        </router-link>
        <router-link :to="{ name: 'customer' }">
            &nbsp; &nbsp; <b-button>Customer List</b-button>
        </router-link>
    </h5>
    <br>
    <table class="table text-center table-striped">
        <tbody>
            <tr>
                <th>Date</th>
                <th>Sales Item</th>
                <th>Memo</th>
                <th>Price</th>
                <th>Edit</th>
            </tr>
            <tr v-for="(salesInfo, index) in salesList" :key="salesInfo.smIdx">
                <td>{{ salesInfo.date }}</td>
                <td>
                    <span v-for="service in serviceList[index]" :key="service.sdIdx">{{ service.serviceName }}<br></span>
                </td>
                <td>{{ salesInfo.memo }}</td>
                <td>
                    <span v-if="salesInfo.card != 0">Card: {{ salesInfo.card }}<br></span>
                    <span v-if="salesInfo.cash != 0">Cash: {{ salesInfo.cash }}<br></span>
                    <span v-if="salesInfo.misu != 0">Misu: {{ salesInfo.misu }}</span>
                </td>
                <td>
                    <router-link :to="{ name: 'paymentEdit', params: { smIdx: salesInfo.smIdx, id: $route.params.id }}">
                        <b-button size="lg">Edit</b-button>
                    </router-link>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
import Conf from '../../Config'

export default {
    name: 'custinfo',
    data() {
        return {
            custInfo: {
                sum: 0,
                count: 0,
                customer: {
                    custIdx: 0,
                    custName: '',
                    hp: '' // 왜 대문자 시작은 안될까?
                }
            },
            salesList: [],
            serviceList: []
        }
    },
    created() {
        this.$axios.get(Conf.SALES_LIST + "/" + this.$route.params.id)
            .then((response) => {
                this.custInfo = response.data;
                this.salesList = response.data.salesList;
                this.serviceList = response.data.serviceList;
                // console.log(this.test.sum); // Sum이 안되네 ㅠㅠ
            })
            console.log(this.$route.params.id);
    }
}
</script>
