<style scoped>
  td, th{
    vertical-align: middle;
  }
  .tbl1 th:nth-child(1) {
      width: 20%
   } 
  .tbl1 th:nth-child(2) {
      width: 25%
   } 
  .tbl1 th:nth-child(3) {
      width: 15%
   } 
  .tbl1 th:nth-child(4) {
      width: 25%
   } 
  .tbl1 th:nth-child(5) {
      width: 15%
   }    
  #vertical-line {
    border-right: 1px dashed #333;
  }
  #btn1 {
    width: 100%
  }
</style>
<template>
<div>
  <br>
  &nbsp;&nbsp;<b-button @click="showModal" size="lg">+ Add Service</b-button>
  <br>
  <br>
  <b-modal ref="myModalRef" hide-footer title="Add Service">
    <b-row>
        <b-col md="6" class="py-6" id="vertical-line">
        <table style="width: 100%">
          <tr v-for="(serviceClass, index) in serviceClassList" :key="serviceClass.SclassIdx">
            <td v-if="index % 2 == 0">
              <b-row>
                <b-col md="6">
                  <b-button variant="success" class="form-control" @click="getServiceList(serviceClass.sclassIdx)">{{ serviceClass.sclassName }}</b-button>
                </b-col>
                <b-col md="6">
                  <b-button variant="success" class="form-control" v-if="serviceClassList.length != index + 1" @click="getServiceList(serviceClassList[index + 1].sclassIdx)">{{ serviceClassList[index + 1].sclassName }}</b-button>
                </b-col>
              </b-row>
            </td>
          </tr>
        </table>
        </b-col>
        <b-col md="6" class="py-6">
        <table style="width: 100%;">
          <tr v-for="(service, index) in serviceList" :key="service.svcIdx">
            <td v-if="index % 2 == 0">
              <b-row>
                <b-col md="6">
                  <b-button variant="outline-success" id="btn1" @click="addService(service)">{{ service.svcName }}<br>({{ service.svcAmount }})</b-button>
                </b-col>
                <b-col md="6">
                  <b-button variant="outline-success" id="btn1" v-if="serviceList.length != index + 1" @click="addService(serviceList[index + 1])">{{ serviceList[index + 1].svcName }}<br>({{ serviceList[index + 1].svcAmount }})</b-button>
                </b-col>
              </b-row>
            </td>
          </tr>
        </table>
        </b-col>
    </b-row>
  </b-modal>
  <form @submit.prevent="addSales">
  <table class="table text-center tbl1">
    <tr>
      <th>Service</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Price * Amount</th>
      <th>Delete</th>
    </tr>
    <tr v-for="(sales, index) in salesList" :key="sales.svcIdx">
      <td>{{ sales.svcName }}</td> <!-- 배열 안써도 되네...? -->
      <!-- <td><input type="text" v-model.number="salesList[index].svcAmount" @input="check(index)"></td>
      <td><input type="text" v-model.number="salesList[index].qty" @input="check(index)"></td> 
      <td><input type="text" v-model.number="salesList[index].totalPrice"></td>
      <td><input type="button" value="Delete" @click="deleteService(index)"></td -->

      <!-- <td><input type="text" v-model.number="salesList[index].svcAmount" @keypress="check(index)"></td>
      <td><input type="text" v-model.number="salesList[index].qty" @keypress="check(index)"></td> 
      <td><input type="text" :value="salesList[index].qty * salesList[index].svcAmount"></td> -->
      <td><input type="text" class="form-control" v-model.number="sales.svcAmount" @input="check(index)"></td>
      <td><input type="text" class="form-control" v-model.number="sales.qty" @input="check(index)"></td> 
      <td><input type="text" class="form-control" v-model.number="sales.totalPrice"></td>
      <td><b-button @click="deleteService(index)">Delete</b-button></td>
    </tr>
  </table>
  <br><br><br>
  <b-row>
    <b-col md="2"></b-col> 
    <b-col md="8" class="text-center">
      <table class="table text-center">
        <tr>
          <th>Total Price</th>
          <td><font ref="sumPrice"></font></td>
        </tr>
        <tr>
          <th>Cash</th>
          <td><input class="form-control" type="text" v-model.number="cash" @input="compute(1)"></td>
        </tr>
        <tr>
          <th>Card</th>
          <td><input class="form-control" type="text" v-model.number="card" @input="compute(2)"></td>
        </tr>
        <tr>
          <th>Change</th>
          <td><font ref="change"></font></td>
        </tr>
        <tr>
          <th>Misu</th>
          <td>{{ Number(misu) }}</td>
        </tr>
        <tr>
          <th>Memo</th>
          <td>
            <textarea rows="4" class="form-control" v-model="memo"></textarea>
          </td>
        </tr>
        <tr>
          <th>Date</th>
          <td><input class="form-control" type="date" v-model="date"></td>
        </tr>
      </table>
      <b-button v-if="$route.params.smIdx == null" type="submit" size="lg">Add</b-button>
      <b-button v-else type="submit" size="lg">Edit</b-button>
      &nbsp;&nbsp;&nbsp;
      <router-link :to="{ name: 'saleslist', params: { id: $route.params.id }}">
        <b-button size="lg">Cancel</b-button>
      </router-link>  
    </b-col>
    <b-col md="2"></b-col>
  </b-row>
  </form>
</div>
</template>

<script>
import Vue from 'vue'
import Conf from '../../Config'
import saleslistVue from '../saleslist/saleslist.vue';

let today = new Date();

  export default {
    name: 'payment',
    data(){
      return {
        serviceClassList: [],
        serviceList: [],
        salesList: [],
        card: 0,
        cash: 0,
        misu: 0,
        memo: '',
        date: today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate(),
        totalPrice: 0
      }
    },
    mounted () {
      if(this.$route.params.smIdx == null){
        this.showModal();
      }else{
      this.$axios.get(Conf.SALES_EDIT_VIEW + "/" + this.$route.params.smIdx)
        .then((response) => {
          console.log(response.data);
          this.salesList = response.data.SalesDetail;
          this.salesList.forEach(e => {
            e.qty = e.Amount;
            e.svcAmount = e.Price;
            e.totalPrice = e.Amount * e.Price;
            e.svcIdx = e.SvcIdx;
            e.svcName = e.ServiceName;
          });
          this.cash = response.data.SalesMaster.Cash;
          this.card = response.data.SalesMaster.Card;
          this.misu = response.data.SalesMaster.Misu;
          this.totalPrice = response.data.SalesMaster.TotalPrice;
          this.$refs.sumPrice.innerHTML = this.totalPrice;
          this.memo = response.data.SalesMaster.Memo;
          this.date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        });
        // this.$refs.sumPrice.innerHTML = this.totalPrice; // 응답이 늦게와서 여기가 axios 보다 먼저 발생하네...
      }
      this.$axios.get(Conf.SERVICECLASS_LIST)
        .then((response) => {
          this.serviceClassList = response.data;
      });
    },

    methods:{
      showModal () {
        this.$refs.myModalRef.show();
      },
      hideModal () {
        this.name = "";
        this.hp = "";
        this.$refs.myModalRef.hide();
      },
      getServiceList (data) {
      this.$axios.get(Conf.SERVICE_LIST + "/" + data)
        .then((response) => {
          this.serviceList = response.data;
        });
      },
      addService (data) {
        // 서비스 중복체크 필요
        // data.qty = 1; // 작성하면 반응성이 이상해지는 듯 ㅠ.ㅠ
        let flag = true;
        let qty = 1;
        let index = 0;
        this.salesList.forEach(e => {
          if(data.svcIdx == e.svcIdx){
            console.log("같아~");
            flag = false; 
            index = e.svcIdx;
          }
        });
        if(flag == true){
          data.qty = 1;
          data.totalPrice = data.svcAmount;
          // Vue.set(data, "qty", 1); // 반응성 추가
          // Vue.set(data, "totalPrice", data.svcAmount); // 반응성 추가!?
          this.salesList.push(data);
        }else{
          let idx = this.salesList.findIndex(function(element) {
            return element.svcIdx == index;
          });
          this.salesList[idx].qty += 1;
          this.salesList[idx].totalPrice = this.salesList[idx].svcAmount * this.salesList[idx].qty;
        }

        this.hideModal();
        this.serviceList = [];
        this.card = 0;
        this.cash = 0;
        this.misu = 0;

        this.sumPrice();
        this.compute();
      },
      check(index){
        this.salesList[index].totalPrice = this.salesList[index].qty * this.salesList[index].svcAmount;
        this.sumPrice();
        this.compute();
      },
      deleteService(index){
        this.salesList.splice(index, 1);
        this.sumPrice();
        this.compute();
      },
      sumPrice(){
        console.log("aa");
        let sum = 0;
        this.salesList.forEach(e => {
          sum += e.totalPrice;
        });
        this.$refs.sumPrice.innerHTML = sum;
      },
      compute(e){
        let price = this.$refs.sumPrice.innerHTML;
        this.totalPrice = price;
        if(e === 1){
          if((this.card + this.cash) > price){
            this.$refs.change.innerHTML = (this.card + this.cash) - price;
            this.misu = 0;
          }else{
            this.misu = price - (this.card + this.cash);
            this.$refs.change.innerHTML = 0;
          }
        }else{
          if(this.card > price){
            alert("카드 금액은 전체 금액을 초과할 수 없습니다.")
            this.card = Number(price);
            this.cash = 0;
            this.misu = 0;
            this.$refs.change.innerHTML = 0;
          }else{
            if((this.card + this.cash) > price){
              this.$refs.change.innerHTML = (this.card + this.cash) - price;
              this.misu = 0;
            }else{
              this.misu = price - (this.card + this.cash);
              this.$refs.change.innerHTML = 0;
            }
          }
        }
      },
      addSales(){
        let url = "";
        if(this.$route.params.smIdx == null){
          this.$axios.post(Conf.SALES_ADD, {
            card: this.card,
            cash: this.cash,
            misu: this.misu,
            salesList: this.salesList,
            date: this.date,
            totalPrice: this.totalPrice,
            memo: this.memo,
            custIdx: Number(this.$route.params.id)
          })
          .then((response) => {
            this.$router.push({ name: 'saleslist', params: { id: this.$route.params.id }});
          });
        }
        else{
          this.$axios.put(Conf.SALES_EDIT, {
            card: this.card,
            cash: this.cash,
            misu: this.misu,
            salesList: this.salesList,
            date: this.date,
            totalPrice: this.totalPrice,
            memo: this.memo,
            custIdx: Number(this.$route.params.id),
            smIdx: this.$route.params.smIdx
          })
          .then((response) => {
            this.$router.push({ name: 'saleslist', params: { id: this.$route.params.id }});
          });
        }
      }
    }
  }  
</script>

