<template>
<div class="text-center">
    <br>
    <h1>Customer List</h1><br>
    <b-table striped fixed hover :items="CustomerList" :fields="fields">
        <template slot="detail" slot-scope="data">
            <router-link :to="{ name: 'saleslist', params: { id: data.item.custIdx }}">
                <b-button variant="primary">Detail</b-button>
            </router-link>
        </template>
    </b-table>
    <div>
        <!-- <b-modal ref="myModalRef" hide-footer title="Add Customer">
            <div class="d-block text-center">
                <form method="post" @submit.prevent="submit">
                    <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
                        <b-row class="my-1">
                            <b-col sm="3"><label class="form__label">Name</label></b-col>
                            <b-col sm="9"><input type="text" v-model.trim="$v.name.$model" class="form-control"></b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="3"><label class="form__label">Hp</label></b-col>
                            <b-col sm="9"><input type="text" v-model.trim="$v.hp.$model" class="form-control"></b-col>
                        </b-row>
                    </div>
                    <div class="error" v-if="!$v.name.required">이름 입력은 필수</div>
                    <div class="error" v-if="!$v.name.minLength">이름은 적어도 {{$v.name.$params.minLength.min}}글자 이상 입력</div>
                    <div class="error" v-if="!$v.hp.required">핸드폰 입력은 필수</div>
                    <div class="error" v-if="!$v.hp.minLength">핸드폰은 적어도 {{$v.hp.$params.minLength.min}}글자 이상 입력</div>
                    <br>
                    <b-button type="submit" variant="success">Add</b-button>
                    <b-button @click="hideModal" variant="outline-success">Close</b-button>
                </form>
            </div>
        </b-modal> -->
    </div>
    <br>
    <form method="get" align="center">
        <input type="text" v-model.trim="SearchValue" @keyup.enter="search">
        <b-button @click="search">
            Search
        </b-button>
        <b-button @click="showModal">
            Add
        </b-button>
    </form>
    <br><br>
    <b-pagination align="center" class="text-center" size="md" :total-rows="totalPage" v-model="currentPage" :per-page="3" :hide-ellipsis="true" @input="paging">
    </b-pagination>
</div>
</template>

<script>
import Constant from '../../Constant.js'
import {
    mapGetters
} from 'vuex';
import {
    required,
    minLength
} from 'vuelidate/lib/validators'

export default {
    name: 'customer',
    data() {
        return {
            SearchValue: ' ',
            name: '',
            hp: '',
            submitStatus: null,
            currentPage: 1,
            pagingValue: ' ',
            totalPage: 1,
            fields: [{
                    key: 'custName',
                    label: 'Customer Name'
                },
                {
                    key: 'hp',
                    label: 'Phone Number'
                },
                'detail'
            ]
        }
    },
    validations: {
        name: {
            required,
            minLength: minLength(5)
        },
        hp: {
            required,
            minLength: minLength(11)
        }
    },
    computed: {
        ...mapGetters('m1', {
            CustomerList: 'getCustomerList'
        })
    },
    mounted() {
        this.$axios.get(this.$Conf.CUSTOMER_COUNT + "/" + "true")
            .then((response) => {
                this.totalPage = response.data;
            });
        this.$store.dispatch('m1/' + Constant.CUSTOMER_LIST, {
            SearchValue: this.SearchValue,
            page: this.currentPage
        });
    },
    methods: {
        search(e) {
            this.pagingValue = this.SearchValue;
            if (this.SearchValue == "")
                this.SearchValue = "true";
            this.$axios.get(this.$Conf.CUSTOMER_COUNT + "/" + this.SearchValue)
                .then((response) => {
                    this.totalPage = response.data;
                });
            this.currentPage = 1;
            this.$store.dispatch('m1/' + Constant.CUSTOMER_LIST, {
                SearchValue: this.SearchValue,
                page: this.currentPage
            });
        },
        add() {
            this.currentPage = 1;
            this.$store.dispatch('m1/' + Constant.CUSTOMER_ADD, {
                Name: this.name,
                Hp: this.hp
            });
            setTimeout(function () {
                this.$axios.get(Conf.CUSTOMER_COUNT + "/" + "true")
                    .then((response) => {
                        this.totalPage = response.data;
                    });
            }.bind(this), 1000);
            this.hideModal();
        },
        showModal() {
            this.$refs.myModalRef.show()
        },
        hideModal() {
            this.name = "";
            this.hp = "";
            this.$refs.myModalRef.hide()
        },
        submit() {
            this.$v.$touch()
            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR'
            } else {
                this.submitStatus = 'OK'
                this.add();
            }
        },
        paging() {
            this.$store.dispatch('m1/' + Constant.CUSTOMER_LIST, {
                SearchValue: this.pagingValue,
                page: this.currentPage
            });
        }
    }
}
</script>

<style scoped>
.error {
    color: orangered;
}
</style> 